{"openapi":"3.1.0","info":{"title":"Assets - Deadlock API","description":"\n## API Clients\n\nWe have auto generated and updated clients for many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)\n\n## Support the Deadlock API\n\nWhether you're building your own database, developing data science projects, or enhancing your website with game and player analytics, the Deadlock API has the data you need.\n\nYour sponsorship helps keep this resource open, free and future-proof for everyone. By supporting the Deadlock API, you will enable continued development, new features and reliable access for developers, analysts and streamers worldwide.\n\nHelp us continue to provide the data you need - sponsor the Deadlock API today!\n\n**-> You can Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or [GitHub](https://github.com/sponsors/raimannma)**\n\n## Disclaimer\n_deadlock-api.com is not endorsed by Valve and does not reflect the views or opinions of Valve or anyone officially involved in producing or managing Valve properties. Valve and all associated properties are trademarks or registered trademarks of Valve Corporation_\n","contact":{"name":"Deadlock API - Discord","url":"https://discord.gg/XMF9Xrgfqu"},"license":{"name":"MIT","url":"https://github.com/deadlock-api/deadlock-api-assets/blob/master/LICENSE"},"version":"0.1.0"},"servers":[{"url":"https://assets.deadlock-api.com"}],"paths":{"/v2/heroes":{"get":{"tags":["Heroes"],"summary":"Get Heroes","operationId":"get_heroes_v2_heroes_get","parameters":[{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}},{"name":"only_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Only Active"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroV2"},"title":"Response Get Heroes V2 Heroes Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/heroes/{id}":{"get":{"tags":["Heroes"],"summary":"Get Hero","operationId":"get_hero_v2_heroes__id__get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","title":"Id"}},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeroV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/heroes/by-name/{name}":{"get":{"tags":["Heroes"],"summary":"Get Hero By Name","operationId":"get_hero_by_name_v2_heroes_by_name__name__get","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","title":"Name"}},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HeroV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/items":{"get":{"tags":["Items"],"summary":"Get Items","operationId":"get_items_v2_items_get","parameters":[{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/AbilityV2"},{"$ref":"#/components/schemas/WeaponV2"},{"$ref":"#/components/schemas/UpgradeV2"}],"discriminator":{"propertyName":"type","mapping":{"ability":"#/components/schemas/AbilityV2","weapon":"#/components/schemas/WeaponV2","upgrade":"#/components/schemas/UpgradeV2"}}},"title":"Response Get Items V2 Items Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/items/{id_or_class_name}":{"get":{"tags":["Items"],"summary":"Get Item","operationId":"get_item_v2_items__id_or_class_name__get","parameters":[{"name":"id_or_class_name","in":"path","required":true,"schema":{"type":"string","title":"Id Or Class Name"}},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/AbilityV2"},{"$ref":"#/components/schemas/WeaponV2"},{"$ref":"#/components/schemas/UpgradeV2"}],"discriminator":{"propertyName":"type","mapping":{"ability":"#/components/schemas/AbilityV2","weapon":"#/components/schemas/WeaponV2","upgrade":"#/components/schemas/UpgradeV2"}},"title":"Response Get Item V2 Items  Id Or Class Name  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/items/by-type/{type}":{"get":{"tags":["Items"],"summary":"Get Items By Type","operationId":"get_items_by_type_v2_items_by_type__type__get","parameters":[{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ItemTypeV2"}},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/AbilityV2"},{"$ref":"#/components/schemas/WeaponV2"},{"$ref":"#/components/schemas/UpgradeV2"}],"discriminator":{"propertyName":"type","mapping":{"ability":"#/components/schemas/AbilityV2","weapon":"#/components/schemas/WeaponV2","upgrade":"#/components/schemas/UpgradeV2"}}},"title":"Response Get Items By Type V2 Items By Type  Type  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/items/by-hero-id/{id}":{"get":{"tags":["Items"],"summary":"Get Items By Hero Id","operationId":"get_items_by_hero_id_v2_items_by_hero_id__id__get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","title":"Id"}},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/AbilityV2"},{"$ref":"#/components/schemas/WeaponV2"},{"$ref":"#/components/schemas/UpgradeV2"}],"discriminator":{"propertyName":"type","mapping":{"ability":"#/components/schemas/AbilityV2","weapon":"#/components/schemas/WeaponV2","upgrade":"#/components/schemas/UpgradeV2"}}},"title":"Response Get Items By Hero Id V2 Items By Hero Id  Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/items/by-slot-type/{slot_type}":{"get":{"tags":["Items"],"summary":"Get Items By Slot Type","operationId":"get_items_by_slot_type_v2_items_by_slot_type__slot_type__get","parameters":[{"name":"slot_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ItemSlotTypeV2"}},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/AbilityV2"},{"$ref":"#/components/schemas/WeaponV2"},{"$ref":"#/components/schemas/UpgradeV2"}],"discriminator":{"propertyName":"type","mapping":{"ability":"#/components/schemas/AbilityV2","weapon":"#/components/schemas/WeaponV2","upgrade":"#/components/schemas/UpgradeV2"}}},"title":"Response Get Items By Slot Type V2 Items By Slot Type  Slot Type  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/npc-units":{"get":{"tags":["NPC Units"],"summary":"Get Npc Units","operationId":"get_npc_units_v2_npc_units_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NPCUnitV2"},"title":"Response Get Npc Units V2 Npc Units Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/npc-units/{id_or_class_name}":{"get":{"tags":["NPC Units"],"summary":"Get Npc Unit","operationId":"get_npc_unit_v2_npc_units__id_or_class_name__get","parameters":[{"name":"id_or_class_name","in":"path","required":true,"schema":{"type":"string","title":"Id Or Class Name"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NPCUnitV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/misc-entities":{"get":{"tags":["Misc Entities"],"summary":"Get Misc Entities","operationId":"get_misc_entities_v2_misc_entities_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MiscV2"},"title":"Response Get Misc Entities V2 Misc Entities Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/misc-entities/{id_or_class_name}":{"get":{"tags":["Misc Entities"],"summary":"Get Misc Entity","operationId":"get_misc_entity_v2_misc_entities__id_or_class_name__get","parameters":[{"name":"id_or_class_name","in":"path","required":true,"schema":{"type":"string","title":"Id Or Class Name"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NPCUnitV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/client-versions":{"get":{"summary":"Get Client Versions","operationId":"get_client_versions_v2_client_versions_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"type":"integer"},"type":"array","title":"Response Get Client Versions V2 Client Versions Get"}}}}}}},"/v2/ranks":{"get":{"summary":"Get Ranks","operationId":"get_ranks_v2_ranks_get","parameters":[{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RankV2"},"title":"Response Get Ranks V2 Ranks Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/build-tags":{"get":{"summary":"Get Build Tags","operationId":"get_build_tags_v2_build_tags_get","parameters":[{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Language"},{"type":"null"}],"title":"Language"}},{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildTagV2"},"title":"Response Get Build Tags V2 Build Tags Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/generic-data":{"get":{"summary":"Get Generic Data","operationId":"get_generic_data_v2_generic_data_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericDataV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/map":{"get":{"summary":"Get Map","operationId":"get_map_v1_map_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapV1"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/colors":{"get":{"summary":"Get Colors","operationId":"get_colors_v1_colors_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ColorV1"},"title":"Response Get Colors V1 Colors Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/steam-info":{"get":{"summary":"Get Steam Info","operationId":"get_steam_info_v1_steam_info_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/icons":{"get":{"summary":"Get Icons","operationId":"get_icons_v1_icons_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"title":"Response Get Icons V1 Icons Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/images":{"get":{"summary":"Get Images","operationId":"get_images_v1_images_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"title":"Response Get Images V1 Images Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/sounds":{"get":{"summary":"Get Sounds","operationId":"get_sounds_v1_sounds_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Sounds V1 Sounds Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/raw/heroes":{"get":{"tags":["Raw"],"summary":"Get Raw Heroes","operationId":"get_raw_heroes_raw_heroes_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/raw/items":{"get":{"tags":["Raw"],"summary":"Get Raw Items","operationId":"get_raw_items_raw_items_get","parameters":[{"name":"client_version","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"},{"type":"null"}],"title":"Client Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AbilityDescriptionV2":{"properties":{"desc":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Desc"},"quip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Quip"},"t1_desc":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"T1 Desc"},"t2_desc":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"T2 Desc"},"t3_desc":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"T3 Desc"},"active":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Active"},"passive":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Passive"}},"type":"object","title":"AbilityDescriptionV2"},"AbilityTooltipDetailsInfoSectionPropertyBlockV2":{"properties":{"loc_string":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Loc String"},"properties":{"anyOf":[{"items":{"$ref":"#/components/schemas/AbilityV2TooltipDetailsInfoSectionPropertyBlockProperty"},"type":"array"},{"type":"null"}],"title":"Properties"}},"type":"object","title":"AbilityTooltipDetailsInfoSectionPropertyBlockV2"},"AbilityTooltipDetailsInfoSectionV2":{"properties":{"loc_string":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Loc String"},"property_upgrade_required":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Property Upgrade Required"},"properties_block":{"anyOf":[{"items":{"$ref":"#/components/schemas/AbilityTooltipDetailsInfoSectionPropertyBlockV2"},"type":"array"},{"type":"null"}],"title":"Properties Block"},"basic_properties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Basic Properties"}},"type":"object","title":"AbilityTooltipDetailsInfoSectionV2"},"AbilityTooltipDetailsV2":{"properties":{"info_sections":{"anyOf":[{"items":{"$ref":"#/components/schemas/AbilityTooltipDetailsInfoSectionV2"},"type":"array"},{"type":"null"}],"title":"Info Sections"},"additional_header_properties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Additional Header Properties"}},"type":"object","title":"AbilityTooltipDetailsV2"},"AbilityTypeV2":{"type":"string","enum":["innate","item","signature","ultimate","weapon","melee"],"title":"AbilityTypeV2"},"AbilityV2":{"properties":{"id":{"type":"integer","title":"Id"},"class_name":{"type":"string","title":"Class Name"},"name":{"type":"string","title":"Name"},"start_trained":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Start Trained"},"image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image"},"image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Webp"},"hero":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Hero"},"heroes":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Heroes"},"update_time":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Update Time"},"properties":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/ItemPropertyV2"},"type":"object"},{"type":"null"}],"title":"Properties"},"weapon_info":{"anyOf":[{"$ref":"#/components/schemas/RawItemWeaponInfoV2"},{"type":"null"}]},"type":{"type":"string","const":"ability","title":"Type","default":"ability"},"behaviours":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Behaviours"},"description":{"$ref":"#/components/schemas/AbilityDescriptionV2"},"tooltip_details":{"anyOf":[{"$ref":"#/components/schemas/AbilityTooltipDetailsV2"},{"type":"null"}]},"upgrades":{"anyOf":[{"items":{"$ref":"#/components/schemas/RawAbilityUpgradeV2"},"type":"array"},{"type":"null"}],"title":"Upgrades"},"ability_type":{"anyOf":[{"$ref":"#/components/schemas/AbilityTypeV2"},{"type":"null"}]},"boss_damage_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Boss Damage Scale"},"dependant_abilities":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Dependant Abilities"},"videos":{"anyOf":[{"$ref":"#/components/schemas/AbilityVideosV2"},{"type":"null"}]}},"type":"object","required":["id","class_name","name","description"],"title":"AbilityV2"},"AbilityV2TooltipDetailsInfoSectionPropertyBlockProperty":{"properties":{"requires_ability_upgrade":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Requires Ability Upgrade"},"show_property_value":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Show Property Value"},"important_property":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Important Property"},"status_effect_value":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status Effect Value"},"status_effect_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status Effect Name"},"important_property_icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Important Property Icon"}},"type":"object","title":"AbilityV2TooltipDetailsInfoSectionPropertyBlockProperty"},"AbilityVideosV2":{"properties":{"webm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webm"},"mp4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mp4"}},"type":"object","title":"AbilityVideosV2"},"BuildTagV2":{"properties":{"class_name":{"type":"string","title":"Class Name"},"label":{"type":"string","title":"Label"},"id":{"type":"integer","format":"int64","title":"Id","readOnly":true},"icon":{"type":"string","title":"Icon","readOnly":true}},"type":"object","required":["class_name","label","id","icon"],"title":"BuildTagV2"},"BulletResistModifier":{"properties":{"bullet_resist":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bullet Resist"},"bullet_resist_reduction_per_hero":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bullet Resist Reduction Per Hero"}},"type":"object","title":"BulletResistModifier"},"ColorV1":{"properties":{"red":{"type":"integer","maximum":255.0,"minimum":0.0,"title":"Red","description":"The red value of the color."},"green":{"type":"integer","maximum":255.0,"minimum":0.0,"title":"Green","description":"The green value of the color."},"blue":{"type":"integer","maximum":255.0,"minimum":0.0,"title":"Blue","description":"The blue value of the color."},"alpha":{"type":"integer","maximum":255.0,"minimum":0.0,"title":"Alpha","description":"The alpha value of the color."}},"type":"object","required":["red","green","blue","alpha"],"title":"ColorV1"},"Curve":{"properties":{"base":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Base"},"per_minute_after_start":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Per Minute After Start"}},"type":"object","title":"Curve"},"DamageFlashV2":{"properties":{"bullet_damage":{"$ref":"#/components/schemas/FlashDataV2"},"tech_damage":{"$ref":"#/components/schemas/FlashDataV2"},"healing_damage":{"$ref":"#/components/schemas/FlashDataV2"},"crit_damage":{"$ref":"#/components/schemas/FlashDataV2"},"melee_damage":{"$ref":"#/components/schemas/FlashDataV2"}},"type":"object","required":["bullet_damage","tech_damage","healing_damage","crit_damage","melee_damage"],"title":"DamageFlashV2"},"DeadlockAssetsApiRoutesValidClientVersions":{"type":"integer","enum":[6021,6020,6016,6008,6002,5983,5972,5959,5945,5920,5902,5885,5878,5869,5852,5831,5826,5818,5789,5748,5747,5723,5712,5710,5690,5675,5668,5664,5658,5650,5636,5624,5615,5602,5583,5554,5538,5533,5529,5527],"title":"DeadlockAssetsApiRoutesValidClientVersions"},"EmpoweredModifierLevel":{"properties":{"max_health":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Health"},"transition_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Transition Duration"},"model_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Model Scale"}},"type":"object","title":"EmpoweredModifierLevel"},"FlashDataV2":{"properties":{"duration":{"type":"number","title":"Duration"},"coverage":{"type":"number","title":"Coverage"},"hardness":{"type":"number","title":"Hardness"},"brightness":{"type":"number","title":"Brightness"},"color":{"$ref":"#/components/schemas/ColorV1"},"brightness_in_light_sensitivity_mode":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Brightness In Light Sensitivity Mode"}},"type":"object","required":["duration","coverage","hardness","brightness","color"],"title":"FlashDataV2"},"GenericDataV2":{"properties":{"damage_flash":{"$ref":"#/components/schemas/DamageFlashV2"},"glitch_settings":{"$ref":"#/components/schemas/GlitchSettingsV2"},"lane_info":{"items":{"$ref":"#/components/schemas/LaneInfoV2"},"type":"array","title":"Lane Info"},"new_player_metrics":{"items":{"$ref":"#/components/schemas/NewPlayerMetricsV2"},"type":"array","title":"New Player Metrics"},"minimap_team_rebels_color":{"$ref":"#/components/schemas/ColorV1"},"minimap_team_combine_color":{"$ref":"#/components/schemas/ColorV1"},"enemy_objectives_and_zipline_color":{"$ref":"#/components/schemas/ColorV1"},"enemy_objectives_color":{"$ref":"#/components/schemas/ColorV1"},"enemy_zipline_color":{"$ref":"#/components/schemas/ColorV1"},"item_price_per_tier":{"items":{"type":"integer"},"type":"array","title":"Item Price Per Tier"},"trooper_kill_gold_share_frac":{"items":{"type":"number"},"type":"array","title":"Trooper Kill Gold Share Frac"},"hero_kill_gold_share_frac":{"items":{"type":"number"},"type":"array","title":"Hero Kill Gold Share Frac"},"aim_spring_strength":{"items":{"type":"number"},"type":"array","title":"Aim Spring Strength"},"targeting_spring_strength":{"items":{"type":"number"},"type":"array","title":"Targeting Spring Strength"},"objective_params":{"$ref":"#/components/schemas/ObjectiveParams"},"rejuv_params":{"$ref":"#/components/schemas/RejuvParams"},"mini_map_offsets":{"items":{"$ref":"#/components/schemas/MiniMapOffsets"},"type":"array","title":"Mini Map Offsets"},"weapon_groups":{"items":{"$ref":"#/components/schemas/ItemGroup"},"type":"array","title":"Weapon Groups"},"armor_groups":{"items":{"$ref":"#/components/schemas/ItemGroup"},"type":"array","title":"Armor Groups"},"spirit_groups":{"items":{"$ref":"#/components/schemas/ItemGroup"},"type":"array","title":"Spirit Groups"}},"type":"object","required":["damage_flash","glitch_settings","lane_info","new_player_metrics","minimap_team_rebels_color","minimap_team_combine_color","enemy_objectives_and_zipline_color","enemy_objectives_color","enemy_zipline_color","item_price_per_tier","trooper_kill_gold_share_frac","hero_kill_gold_share_frac","aim_spring_strength","targeting_spring_strength","objective_params","rejuv_params","mini_map_offsets","weapon_groups","armor_groups","spirit_groups"],"title":"GenericDataV2"},"GlitchSettingsV2":{"properties":{"strength":{"type":"number","title":"Strength"},"uantize_type":{"type":"number","title":"Uantize Type"},"quantize_scale":{"type":"number","title":"Quantize Scale"},"quantize_strength":{"type":"number","title":"Quantize Strength"},"frame_rate":{"type":"number","title":"Frame Rate"},"speed":{"type":"number","title":"Speed"},"jump_strength":{"type":"number","title":"Jump Strength"},"distort_strength":{"type":"number","title":"Distort Strength"},"white_noise_strength":{"type":"number","title":"White Noise Strength"},"scanline_strength":{"type":"number","title":"Scanline Strength"},"breakup_strength":{"type":"number","title":"Breakup Strength"}},"type":"object","required":["strength","uantize_type","quantize_scale","quantize_strength","frame_rate","speed","jump_strength","distort_strength","white_noise_strength","scanline_strength","breakup_strength"],"title":"GlitchSettingsV2"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HeroColorsV2":{"properties":{"glow_enemy":{"prefixItems":[{"type":"integer"},{"type":"integer"},{"type":"integer"}],"type":"array","maxItems":3,"minItems":3,"title":"Glow Enemy"},"glow_friendly":{"prefixItems":[{"type":"integer"},{"type":"integer"},{"type":"integer"}],"type":"array","maxItems":3,"minItems":3,"title":"Glow Friendly"},"glow_team1":{"prefixItems":[{"type":"integer"},{"type":"integer"},{"type":"integer"}],"type":"array","maxItems":3,"minItems":3,"title":"Glow Team1"},"glow_team2":{"prefixItems":[{"type":"integer"},{"type":"integer"},{"type":"integer"}],"type":"array","maxItems":3,"minItems":3,"title":"Glow Team2"},"ui":{"prefixItems":[{"type":"integer"},{"type":"integer"},{"type":"integer"}],"type":"array","maxItems":3,"minItems":3,"title":"Ui"}},"type":"object","required":["glow_enemy","glow_friendly","glow_team1","glow_team2","ui"],"title":"HeroColorsV2"},"HeroDescriptionV2":{"properties":{"lore":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lore"},"role":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Role"},"playstyle":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Playstyle"}},"type":"object","title":"HeroDescriptionV2"},"HeroImagesV2":{"properties":{"icon_hero_card":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon Hero Card"},"icon_hero_card_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon Hero Card Webp"},"icon_image_small":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon Image Small"},"icon_image_small_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon Image Small Webp"},"minimap_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Minimap Image"},"minimap_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Minimap Image Webp"},"selection_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Selection Image"},"selection_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Selection Image Webp"},"top_bar_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Top Bar Image"},"top_bar_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Top Bar Image Webp"},"top_bar_vertical_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Top Bar Vertical Image"},"top_bar_vertical_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Top Bar Vertical Image Webp"},"weapon_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Weapon Image"},"weapon_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Weapon Image Webp"},"background_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Background Image"},"background_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Background Image Webp"},"name_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name Image"}},"type":"object","title":"HeroImagesV2"},"HeroItemTypeV2":{"type":"string","enum":["weapon_primary","weapon_secondary","weapon_melee","ability_mantle","ability_jump","ability_slide","ability_zip_line","ability_zip_line_boost","ability_climb_rope","ability_innate1","ability_innate2","ability_innate3","signature1","signature2","signature3","signature4","eslot_cosmetic_1"],"title":"HeroItemTypeV2"},"HeroLevelInfoV2":{"properties":{"use_standard_upgrade":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Use Standard Upgrade"},"bonus_currencies":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Bonus Currencies"},"required_gold":{"type":"integer","title":"Required Gold"}},"type":"object","required":["required_gold"],"title":"HeroLevelInfoV2"},"HeroPhysicsV2":{"properties":{"collision_height":{"type":"number","title":"Collision Height"},"collision_radius":{"type":"number","title":"Collision Radius"},"stealth_speed_meters_per_second":{"type":"number","title":"Stealth Speed Meters Per Second"},"step_height":{"type":"number","title":"Step Height"},"footstep_sound_travel_distance_meters":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Footstep Sound Travel Distance Meters"},"step_sound_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Step Sound Time"},"step_sound_time_sprinting":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Step Sound Time Sprinting"}},"type":"object","required":["collision_height","collision_radius","stealth_speed_meters_per_second","step_height"],"title":"HeroPhysicsV2"},"HeroShopStatDisplayV2":{"properties":{"spirit_stats_display":{"$ref":"#/components/schemas/RawHeroShopSpiritStatsDisplayV2"},"vitality_stats_display":{"$ref":"#/components/schemas/RawHeroShopVitalityStatsDisplayV2"},"weapon_stats_display":{"$ref":"#/components/schemas/HeroShopWeaponStatsDisplayV2"}},"type":"object","required":["spirit_stats_display","vitality_stats_display","weapon_stats_display"],"title":"HeroShopStatDisplayV2"},"HeroShopWeaponStatsDisplayV2":{"properties":{"display_stats":{"items":{"type":"string"},"type":"array","title":"Display Stats"},"other_display_stats":{"items":{"type":"string"},"type":"array","title":"Other Display Stats"},"weapon_attributes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Weapon Attributes"},"weapon_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Weapon Image"},"weapon_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Weapon Image Webp"}},"type":"object","required":["display_stats","other_display_stats"],"title":"HeroShopWeaponStatsDisplayV2"},"HeroStartingStatV2":{"properties":{"value":{"anyOf":[{"type":"integer"},{"type":"number"}],"title":"Value"},"display_stat_name":{"type":"string","title":"Display Stat Name"}},"type":"object","required":["value","display_stat_name"],"title":"HeroStartingStatV2"},"HeroStartingStatsV2":{"properties":{"max_move_speed":{"$ref":"#/components/schemas/HeroStartingStatV2"},"sprint_speed":{"$ref":"#/components/schemas/HeroStartingStatV2"},"crouch_speed":{"$ref":"#/components/schemas/HeroStartingStatV2"},"move_acceleration":{"$ref":"#/components/schemas/HeroStartingStatV2"},"light_melee_damage":{"$ref":"#/components/schemas/HeroStartingStatV2"},"heavy_melee_damage":{"$ref":"#/components/schemas/HeroStartingStatV2"},"max_health":{"$ref":"#/components/schemas/HeroStartingStatV2"},"weapon_power":{"$ref":"#/components/schemas/HeroStartingStatV2"},"reload_speed":{"$ref":"#/components/schemas/HeroStartingStatV2"},"weapon_power_scale":{"$ref":"#/components/schemas/HeroStartingStatV2"},"proc_build_up_rate_scale":{"$ref":"#/components/schemas/HeroStartingStatV2"},"stamina":{"$ref":"#/components/schemas/HeroStartingStatV2"},"base_health_regen":{"$ref":"#/components/schemas/HeroStartingStatV2"},"stamina_regen_per_second":{"$ref":"#/components/schemas/HeroStartingStatV2"},"ability_resource_max":{"$ref":"#/components/schemas/HeroStartingStatV2"},"ability_resource_regen_per_second":{"$ref":"#/components/schemas/HeroStartingStatV2"},"crit_damage_received_scale":{"$ref":"#/components/schemas/HeroStartingStatV2"},"tech_duration":{"$ref":"#/components/schemas/HeroStartingStatV2"},"tech_armor_damage_reduction":{"anyOf":[{"$ref":"#/components/schemas/HeroStartingStatV2"},{"type":"null"}]},"tech_range":{"$ref":"#/components/schemas/HeroStartingStatV2"},"bullet_armor_damage_reduction":{"anyOf":[{"$ref":"#/components/schemas/HeroStartingStatV2"},{"type":"null"}]}},"type":"object","required":["max_move_speed","sprint_speed","crouch_speed","move_acceleration","light_melee_damage","heavy_melee_damage","max_health","weapon_power","reload_speed","weapon_power_scale","proc_build_up_rate_scale","stamina","base_health_regen","stamina_regen_per_second","ability_resource_max","ability_resource_regen_per_second","crit_damage_received_scale","tech_duration","tech_range"],"title":"HeroStartingStatsV2"},"HeroTypeV2":{"type":"string","enum":["assassin","brawler","marksman","mystic"],"title":"HeroTypeV2"},"HeroV2":{"properties":{"id":{"type":"integer","title":"Id"},"class_name":{"type":"string","title":"Class Name"},"name":{"type":"string","title":"Name"},"description":{"$ref":"#/components/schemas/HeroDescriptionV2"},"recommended_upgrades":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Recommended Upgrades"},"recommended_ability_order":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Recommended Ability Order"},"player_selectable":{"type":"boolean","title":"Player Selectable"},"disabled":{"type":"boolean","title":"Disabled"},"in_development":{"type":"boolean","title":"In Development"},"needs_testing":{"type":"boolean","title":"Needs Testing"},"assigned_players_only":{"type":"boolean","title":"Assigned Players Only"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"gun_tag":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Gun Tag"},"hideout_rich_presence":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hideout Rich Presence"},"hero_type":{"anyOf":[{"$ref":"#/components/schemas/HeroTypeV2"},{"type":"null"}]},"prerelease_only":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Prerelease Only"},"limited_testing":{"type":"boolean","title":"Limited Testing"},"complexity":{"type":"integer","title":"Complexity"},"skin":{"type":"integer","title":"Skin"},"images":{"$ref":"#/components/schemas/HeroImagesV2"},"items":{"additionalProperties":{"type":"string"},"propertyNames":{"$ref":"#/components/schemas/HeroItemTypeV2"},"type":"object","title":"Items"},"starting_stats":{"$ref":"#/components/schemas/HeroStartingStatsV2"},"item_slot_info":{"additionalProperties":{"$ref":"#/components/schemas/RawHeroItemSlotInfoValueV2"},"propertyNames":{"$ref":"#/components/schemas/ItemSlotTypeV2"},"type":"object","title":"Item Slot Info"},"physics":{"$ref":"#/components/schemas/HeroPhysicsV2"},"colors":{"$ref":"#/components/schemas/HeroColorsV2"},"shop_stat_display":{"$ref":"#/components/schemas/HeroShopStatDisplayV2"},"cost_bonuses":{"anyOf":[{"additionalProperties":{"items":{"$ref":"#/components/schemas/RawHeroMapModCostBonusesV2"},"type":"array"},"propertyNames":{"$ref":"#/components/schemas/ItemSlotTypeV2"},"type":"object"},{"type":"null"}],"title":"Cost Bonuses"},"stats_display":{"$ref":"#/components/schemas/RawHeroStatsDisplayV2"},"hero_stats_ui":{"$ref":"#/components/schemas/RawHeroStatsUIV2"},"level_info":{"additionalProperties":{"$ref":"#/components/schemas/HeroLevelInfoV2"},"type":"object","title":"Level Info"},"scaling_stats":{"additionalProperties":{"$ref":"#/components/schemas/RawHeroScalingStatV2"},"type":"object","title":"Scaling Stats"},"purchase_bonuses":{"additionalProperties":{"items":{"$ref":"#/components/schemas/RawHeroPurchaseBonusV2"},"type":"array"},"propertyNames":{"$ref":"#/components/schemas/ItemSlotTypeV2"},"type":"object","title":"Purchase Bonuses"},"standard_level_up_upgrades":{"additionalProperties":{"type":"number"},"type":"object","title":"Standard Level Up Upgrades"}},"type":"object","required":["id","class_name","name","description","player_selectable","disabled","in_development","needs_testing","assigned_players_only","limited_testing","complexity","skin","images","items","starting_stats","item_slot_info","physics","colors","shop_stat_display","stats_display","hero_stats_ui","level_info","scaling_stats","purchase_bonuses","standard_level_up_upgrades"],"title":"HeroV2"},"IntrinsicModifiers":{"properties":{"script_values":{"anyOf":[{"items":{"$ref":"#/components/schemas/ScriptValues"},"type":"array"},{"type":"null"}],"title":"Script Values"}},"type":"object","title":"IntrinsicModifiers"},"ItemGroup":{"properties":{"shop_group":{"type":"string","title":"Shop Group"},"upgrades":{"items":{"type":"string"},"type":"array","title":"Upgrades"}},"type":"object","required":["shop_group","upgrades"],"title":"ItemGroup"},"ItemPropertyV2":{"properties":{"value":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"null"}],"title":"Value"},"can_set_token_override":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Set Token Override"},"provided_property_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Provided Property Type"},"css_class":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Css Class"},"usage_flags":{"anyOf":[{"items":{"$ref":"#/components/schemas/StatsUsageFlagV2"},"type":"array"},{"type":"string"},{"type":"null"}],"title":"Usage Flags"},"negative_attribute":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Negative Attribute"},"disable_value":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Disable Value"},"loc_token_override":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Loc Token Override"},"display_units":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Units"},"icon_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon Path"},"scale_function":{"anyOf":[{"$ref":"#/components/schemas/RawItemPropertyScaleFunctionSubclassV2"},{"type":"null"}]},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prefix"},"label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Label"},"postfix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postfix"},"postvalue_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postvalue Label"},"conditional":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Conditional"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"}},"type":"object","title":"ItemPropertyV2"},"ItemSlotTypeV2":{"type":"string","enum":["weapon","spirit","vitality"],"title":"ItemSlotTypeV2"},"ItemTierV2":{"type":"integer","enum":[1,2,3,4],"title":"ItemTierV2"},"ItemTypeV2":{"type":"string","enum":["weapon","ability","upgrade","tech","armor"],"title":"ItemTypeV2"},"LaneInfoV2":{"properties":{"lane_name":{"type":"string","title":"Lane Name"},"css_class":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Css Class"},"color":{"$ref":"#/components/schemas/ColorV1"},"minimap_zipline_color_override":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"objective_color":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]}},"type":"object","required":["lane_name","color"],"title":"LaneInfoV2"},"Language":{"type":"string","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"],"title":"Language"},"MapImagesV1":{"properties":{"minimap":{"type":"string","title":"Minimap","description":"The minimap image of the map."},"plain":{"type":"string","title":"Plain","description":"The minimap image of the map without background image and frame image."},"background":{"type":"string","title":"Background","description":"The background image of the map."},"frame":{"type":"string","title":"Frame","description":"The frame image of the map."},"mid":{"type":"string","title":"Mid","description":"The mid image of the map."}},"type":"object","required":["minimap","plain","background","frame","mid"],"title":"MapImagesV1"},"MapV1":{"properties":{"radius":{"type":"integer","title":"Radius","description":"The radius of the map.","default":10752},"images":{"$ref":"#/components/schemas/MapImagesV1","description":"The images of the map."},"objective_positions":{"$ref":"#/components/schemas/ObjectivePositionsV1","readOnly":true},"zipline_paths":{"items":{"$ref":"#/components/schemas/ZiplanePathV1"},"type":"array","title":"Zipline Paths","description":"The ziplane paths of the map. Each path is a list of P0, P1, and P2 points, describing the cubic spline.","readOnly":true}},"type":"object","required":["images","objective_positions","zipline_paths"],"title":"MapV1"},"MiniMapOffsets":{"properties":{"entity_class":{"type":"string","title":"Entity Class"},"offset_2d":{"items":{"type":"number"},"type":"array","title":"Offset 2D"},"lane_index":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Lane Index"}},"type":"object","required":["entity_class","offset_2d"],"title":"MiniMapOffsets"},"MiscV2":{"properties":{"class_name":{"type":"string","title":"Class Name"},"color":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"initial_spawn_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Initial Spawn Time"},"respawn_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Respawn Time"},"spawn_interval":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Spawn Interval"},"initial_spawn_delay_in_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Initial Spawn Delay In Seconds"},"spawn_interval_in_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Spawn Interval In Seconds"},"match_time_mins_for_level2_pickups":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Match Time Mins For Level2 Pickups"},"match_time_mins_for_level3_pickups":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Match Time Mins For Level3 Pickups"},"loot_list_deck_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Loot List Deck Size"},"initial_spawn_delay_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Initial Spawn Delay Seconds"},"health":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Health"},"break_on_dodge_touch":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Break On Dodge Touch"},"solid_after_death":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Solid After Death"},"render_after_death":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Render After Death"},"damaged_by_abilities":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Damaged By Abilities"},"damaged_by_melee":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Damaged By Melee"},"damaged_by_bullets":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Damaged By Bullets"},"is_mantleable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Mantleable"},"primary_drop_chance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Primary Drop Chance"},"primary_pickups":{"anyOf":[{"items":{"$ref":"#/components/schemas/PickupDefinition"},"type":"array"},{"type":"null"}],"title":"Primary Pickups"},"m_vecPickups_lv2":{"anyOf":[{"items":{"$ref":"#/components/schemas/PickupDefinition"},"type":"array"},{"type":"null"}],"title":"M Vecpickups Lv2"},"m_vecPickups_lv3":{"anyOf":[{"items":{"$ref":"#/components/schemas/PickupDefinition"},"type":"array"},{"type":"null"}],"title":"M Vecpickups Lv3"},"roll_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Roll Type"},"gold_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Gold Amount"},"gold_per_minute_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Gold Per Minute Amount"},"modifier":{"anyOf":[{"$ref":"#/components/schemas/SubclassModifierDefinition"},{"type":"null"}]},"pickup_radius":{"anyOf":[{"$ref":"#/components/schemas/Curve"},{"type":"number"},{"type":"null"}],"title":"Pickup Radius"},"expiration_duration":{"anyOf":[{"$ref":"#/components/schemas/Curve"},{"type":"number"},{"type":"null"}],"title":"Expiration Duration"},"show_on_minimap":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Show On Minimap"},"orb_spawn_delay_min":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Orb Spawn Delay Min"},"orb_spawn_delay_max":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Orb Spawn Delay Max"},"lifetime":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Lifetime"},"collision_radius":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Collision Radius"},"id":{"type":"integer","format":"int64","title":"Id","readOnly":true}},"type":"object","required":["class_name","id"],"title":"MiscV2"},"ModifierDefinition":{"properties":{"class_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Class Name"},"subclass_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subclass Name"},"duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Duration"},"time_min":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Time Min"},"time_max":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Time Max"},"debuff_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Debuff Type"},"always_show_in_ui":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Always Show In Ui"},"modifier_values":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModifierValue"},"type":"array"},{"type":"null"}],"title":"Modifier Values"},"script_values":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModifierValue"},"type":"array"},{"type":"null"}],"title":"Script Values"}},"type":"object","title":"ModifierDefinition","description":"Schema for the m_sModifer block (note the typo in the source key 'Modifer')."},"ModifierValue":{"properties":{"value_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Value Type"},"value":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Value"},"value_min":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Value Min"},"value_max":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Value Max"}},"type":"object","title":"ModifierValue","description":"Handles items within m_vecModifierValues and m_vecScriptValues.\nCaptures both fixed values (m_value) and ranged values (m_valueMin/Max)."},"NPCUnitV2":{"properties":{"class_name":{"type":"string","title":"Class Name"},"weapon_info":{"anyOf":[{"$ref":"#/components/schemas/WeaponInfoV2"},{"type":"null"}]},"max_health":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Health"},"phase2_health":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Phase2 Health"},"bound_abilities":{"anyOf":[{"additionalProperties":{"type":"string"},"propertyNames":{"$ref":"#/components/schemas/HeroItemTypeV2"},"type":"object"},{"type":"null"}],"title":"Bound Abilities"},"max_health_final":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Health Final"},"max_health_generator":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Health Generator"},"enemy_trooper_protection_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Enemy Trooper Protection Range"},"empowered_modifier_level1":{"anyOf":[{"$ref":"#/components/schemas/SubclassEmpoweredModifierLevel"},{"type":"null"}]},"empowered_modifier_level2":{"anyOf":[{"$ref":"#/components/schemas/SubclassEmpoweredModifierLevel"},{"type":"null"}]},"backdoor_bullet_resist_modifier":{"anyOf":[{"$ref":"#/components/schemas/SubclassBulletResistModifier"},{"type":"null"}]},"objective_regen":{"anyOf":[{"$ref":"#/components/schemas/SubclassObjectiveRegen"},{"type":"null"}]},"objective_health_growth_phase1":{"anyOf":[{"$ref":"#/components/schemas/SubclassObjectiveHealthGrowthPhase"},{"type":"null"}]},"objective_health_growth_phase2":{"anyOf":[{"$ref":"#/components/schemas/SubclassObjectiveHealthGrowthPhase"},{"type":"null"}]},"enemy_trooper_damage_reduction":{"anyOf":[{"$ref":"#/components/schemas/SubclassTrooperDamageReduction"},{"type":"null"}]},"ranged_armor_modifier":{"anyOf":[{"$ref":"#/components/schemas/SubclassRangedArmorModifier"},{"type":"null"}]},"intrinsic_modifiers":{"anyOf":[{"items":{"$ref":"#/components/schemas/SubclassIntrinsicModifiers"},"type":"array"},{"type":"null"}],"title":"Intrinsic Modifiers"},"sight_range_players":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Sight Range Players"},"sight_range_npcs":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Sight Range Npcs"},"gold_reward":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Gold Reward"},"gold_reward_bonus_percent_per_minute":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Gold Reward Bonus Percent Per Minute"},"player_damage_resist_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Player Damage Resist Pct"},"trooper_damage_resist_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Trooper Damage Resist Pct"},"t1_boss_damage_resist_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T1 Boss Damage Resist Pct"},"t2_boss_damage_resist_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T2 Boss Damage Resist Pct"},"t3_boss_damage_resist_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T3 Boss Damage Resist Pct"},"barrack_guardian_damage_resist_pct":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Barrack Guardian Damage Resist Pct"},"near_death_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Near Death Duration"},"laser_dps_to_players":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Laser Dps To Players"},"laser_dps_max_health":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Laser Dps Max Health"},"no_shield_laser_dps_to_players":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"No Shield Laser Dps To Players"},"stomp_damage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stomp Damage"},"stomp_damage_max_health_percent":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stomp Damage Max Health Percent"},"stun_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stun Duration"},"stomp_impact_radius":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stomp Impact Radius"},"walk_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Walk Speed"},"run_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Run Speed"},"acceleration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Acceleration"},"melee_damage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Melee Damage"},"melee_attempt_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Melee Attempt Range"},"melee_hit_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Melee Hit Range"},"melee_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Melee Duration"},"attack_t1_boss_max_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Attack T1 Boss Max Range"},"attack_t3_boss_max_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Attack T3 Boss Max Range"},"attack_t3_boss_phase2_max_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Attack T3 Boss Phase2 Max Range"},"attack_trooper_max_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Attack Trooper Max Range"},"t1_boss_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T1 Boss Dps"},"t1_boss_dpsbase_resist":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T1 Boss Dpsbase Resist"},"t1_boss_dpsmax_resist":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T1 Boss Dpsmax Resist"},"t1_boss_dpsmax_resist_time_in_seconds":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T1 Boss Dpsmax Resist Time In Seconds"},"t2_boss_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T2 Boss Dps"},"t2_boss_dpsbase_resist":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T2 Boss Dpsbase Resist"},"t2_boss_dpsmax_resist":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T2 Boss Dpsmax Resist"},"t2_boss_dpsmax_resist_time_in_seconds":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T2 Boss Dpsmax Resist Time In Seconds"},"t3_boss_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"T3 Boss Dps"},"generator_boss_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Generator Boss Dps"},"barrack_boss_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Barrack Boss Dps"},"player_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Player Dps"},"trooper_dps":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Trooper Dps"},"health_bar_color_friend":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"health_bar_color_enemy":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"health_bar_color_team1":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"health_bar_color_team2":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"health_bar_color_team_neutral":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"glow_color_friend":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"glow_color_enemy":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"glow_color_team1":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"glow_color_team2":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"glow_color_team_neutral":{"anyOf":[{"$ref":"#/components/schemas/ColorV1"},{"type":"null"}]},"id":{"type":"integer","format":"int64","title":"Id","readOnly":true}},"type":"object","required":["class_name","id"],"title":"NPCUnitV2"},"NewPlayerMetricsV2":{"properties":{"skill_tier_name":{"type":"string","title":"Skill Tier Name"},"net_worth":{"type":"integer","title":"Net Worth"},"damage_taken":{"type":"integer","title":"Damage Taken"},"boss_damage":{"type":"integer","title":"Boss Damage"},"player_damage":{"type":"integer","title":"Player Damage"},"last_hits":{"type":"integer","title":"Last Hits"},"orbs_secured":{"type":"integer","title":"Orbs Secured"},"orbs_denied":{"type":"integer","title":"Orbs Denied"},"abilities_upgraded":{"type":"integer","title":"Abilities Upgraded"},"mods_purchased":{"type":"integer","title":"Mods Purchased"}},"type":"object","required":["skill_tier_name","net_worth","damage_taken","boss_damage","player_damage","last_hits","orbs_secured","orbs_denied","abilities_upgraded","mods_purchased"],"title":"NewPlayerMetricsV2"},"ObjectiveHealthGrowthPhase":{"properties":{"growth_per_minute":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Growth Per Minute"},"tick_rate":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Tick Rate"},"growth_start_time_in_minutes":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Growth Start Time In Minutes"}},"type":"object","title":"ObjectiveHealthGrowthPhase"},"ObjectiveParams":{"properties":{"gold_per_orb":{"type":"integer","title":"Gold Per Orb"},"near_player_split_pct":{"type":"number","title":"Near Player Split Pct"},"tier1_gold_kill":{"type":"integer","title":"Tier1 Gold Kill"},"tier1_gold_orbs":{"type":"integer","title":"Tier1 Gold Orbs"},"tier2_gold_kill":{"type":"integer","title":"Tier2 Gold Kill"},"tier2_gold_orbs":{"type":"integer","title":"Tier2 Gold Orbs"},"base_guardians_gold_kill":{"type":"integer","title":"Base Guardians Gold Kill"},"base_guardians_gold_orbs":{"type":"integer","title":"Base Guardians Gold Orbs"},"shrines_gold_kill":{"type":"integer","title":"Shrines Gold Kill"},"shrines_gold_orbs":{"type":"integer","title":"Shrines Gold Orbs"},"patron_phase1_gold_kill":{"type":"integer","title":"Patron Phase1 Gold Kill"},"patron_phase1_gold_orbs":{"type":"integer","title":"Patron Phase1 Gold Orbs"}},"type":"object","required":["gold_per_orb","near_player_split_pct","tier1_gold_kill","tier1_gold_orbs","tier2_gold_kill","tier2_gold_orbs","base_guardians_gold_kill","base_guardians_gold_orbs","shrines_gold_kill","shrines_gold_orbs","patron_phase1_gold_kill","patron_phase1_gold_orbs"],"title":"ObjectiveParams"},"ObjectivePositionV1":{"properties":{"left_relative":{"type":"number","title":"Left Relative","description":"The relative margin left of the map image."},"top_relative":{"type":"number","title":"Top Relative","description":"The relative margin top of the map image."}},"type":"object","required":["left_relative","top_relative"],"title":"ObjectivePositionV1"},"ObjectivePositionsV1":{"properties":{"team0_core":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_core":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_titan":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_titan":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_tier2_1":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_tier2_2":{"anyOf":[{"$ref":"#/components/schemas/ObjectivePositionV1"},{"type":"null"}]},"team0_tier2_3":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_tier2_4":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_tier2_1":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_tier2_2":{"anyOf":[{"$ref":"#/components/schemas/ObjectivePositionV1"},{"type":"null"}]},"team1_tier2_3":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_tier2_4":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_tier1_1":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_tier1_2":{"anyOf":[{"$ref":"#/components/schemas/ObjectivePositionV1"},{"type":"null"}]},"team0_tier1_3":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team0_tier1_4":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_tier1_1":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_tier1_2":{"anyOf":[{"$ref":"#/components/schemas/ObjectivePositionV1"},{"type":"null"}]},"team1_tier1_3":{"$ref":"#/components/schemas/ObjectivePositionV1"},"team1_tier1_4":{"$ref":"#/components/schemas/ObjectivePositionV1"}},"type":"object","required":["team0_core","team1_core","team0_titan","team1_titan","team0_tier2_1","team0_tier2_3","team0_tier2_4","team1_tier2_1","team1_tier2_3","team1_tier2_4","team0_tier1_1","team0_tier1_3","team0_tier1_4","team1_tier1_1","team1_tier1_3","team1_tier1_4"],"title":"ObjectivePositionsV1"},"ObjectiveRegen":{"properties":{"out_of_combat_health_regen":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Out Of Combat Health Regen"},"out_of_combat_regen_delay":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Out Of Combat Regen Delay"}},"type":"object","title":"ObjectiveRegen"},"PickupDefinition":{"properties":{"pickup_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pickup Name"},"pickup_weight":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Pickup Weight"}},"type":"object","title":"PickupDefinition"},"RangedArmorModifier":{"properties":{"range_min":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Range Min"},"range_max":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Range Max"},"invuln_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Invuln Range"}},"type":"object","title":"RangedArmorModifier"},"RankImagesV2":{"properties":{"large":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large"},"large_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Webp"},"large_subrank1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank1"},"large_subrank1_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank1 Webp"},"large_subrank2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank2"},"large_subrank2_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank2 Webp"},"large_subrank3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank3"},"large_subrank3_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank3 Webp"},"large_subrank4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank4"},"large_subrank4_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank4 Webp"},"large_subrank5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank5"},"large_subrank5_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank5 Webp"},"large_subrank6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank6"},"large_subrank6_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Large Subrank6 Webp"},"small":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small"},"small_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Webp"},"small_subrank1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank1"},"small_subrank1_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank1 Webp"},"small_subrank2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank2"},"small_subrank2_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank2 Webp"},"small_subrank3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank3"},"small_subrank3_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank3 Webp"},"small_subrank4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank4"},"small_subrank4_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank4 Webp"},"small_subrank5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank5"},"small_subrank5_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank5 Webp"},"small_subrank6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank6"},"small_subrank6_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Small Subrank6 Webp"}},"type":"object","title":"RankImagesV2"},"RankV2":{"properties":{"tier":{"type":"integer","title":"Tier"},"name":{"type":"string","title":"Name"},"images":{"$ref":"#/components/schemas/RankImagesV2"},"color":{"type":"string","title":"Color","readOnly":true}},"type":"object","required":["tier","name","images","color"],"title":"RankV2"},"RawAbilityActivationV2":{"type":"string","enum":["hold_toggle","instant_cast","on_button_is_down","passive","press","press_toggle"],"title":"RawAbilityActivationV2"},"RawAbilityImbueV2":{"type":"string","enum":["imbue_active","imbue_active_non_ult","imbue_modifier_value"],"title":"RawAbilityImbueV2"},"RawAbilitySectionTypeV2":{"type":"string","enum":["innate","active","passive"],"title":"RawAbilitySectionTypeV2"},"RawAbilityUpgradePropertyUpgradeV2":{"properties":{"name":{"type":"string","title":"Name"},"bonus":{"anyOf":[{"type":"string"},{"type":"number"}],"title":"Bonus"},"scale_stat_filter":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scale Stat Filter"},"upgrade_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Upgrade Type"}},"type":"object","required":["name","bonus"],"title":"RawAbilityUpgradePropertyUpgradeV2"},"RawAbilityUpgradeV2":{"properties":{"property_upgrades":{"items":{"$ref":"#/components/schemas/RawAbilityUpgradePropertyUpgradeV2"},"type":"array","title":"Property Upgrades"}},"type":"object","title":"RawAbilityUpgradeV2"},"RawHeroItemSlotInfoValueV2":{"properties":{"max_purchases_for_tier":{"items":{"type":"integer"},"type":"array","title":"Max Purchases For Tier"}},"type":"object","required":["max_purchases_for_tier"],"title":"RawHeroItemSlotInfoValueV2"},"RawHeroMapModCostBonusesV2":{"properties":{"gold_threshold":{"type":"integer","title":"Gold Threshold"},"bonus":{"type":"number","title":"Bonus"},"percent_on_graph":{"type":"number","title":"Percent On Graph"}},"type":"object","required":["gold_threshold","bonus","percent_on_graph"],"title":"RawHeroMapModCostBonusesV2"},"RawHeroPurchaseBonusV2":{"properties":{"value_type":{"type":"string","title":"Value Type"},"tier":{"type":"integer","title":"Tier"},"value":{"type":"string","title":"Value"}},"type":"object","required":["value_type","tier","value"],"title":"RawHeroPurchaseBonusV2"},"RawHeroScalingStatV2":{"properties":{"scaling_stat":{"type":"string","title":"Scaling Stat"},"scale":{"type":"number","title":"Scale"}},"type":"object","required":["scaling_stat","scale"],"title":"RawHeroScalingStatV2"},"RawHeroShopSpiritStatsDisplayV2":{"properties":{"display_stats":{"items":{"type":"string"},"type":"array","title":"Display Stats"}},"type":"object","required":["display_stats"],"title":"RawHeroShopSpiritStatsDisplayV2"},"RawHeroShopVitalityStatsDisplayV2":{"properties":{"display_stats":{"items":{"type":"string"},"type":"array","title":"Display Stats"},"other_display_stats":{"items":{"type":"string"},"type":"array","title":"Other Display Stats"}},"type":"object","required":["display_stats","other_display_stats"],"title":"RawHeroShopVitalityStatsDisplayV2"},"RawHeroStatsDisplayV2":{"properties":{"health_header_stats":{"items":{"type":"string"},"type":"array","title":"Health Header Stats"},"health_stats":{"items":{"type":"string"},"type":"array","title":"Health Stats"},"magic_header_stats":{"items":{"type":"string"},"type":"array","title":"Magic Header Stats"},"magic_stats":{"items":{"type":"string"},"type":"array","title":"Magic Stats"},"weapon_header_stats":{"items":{"type":"string"},"type":"array","title":"Weapon Header Stats"},"weapon_stats":{"items":{"type":"string"},"type":"array","title":"Weapon Stats"}},"type":"object","required":["health_header_stats","health_stats","magic_header_stats","magic_stats","weapon_header_stats","weapon_stats"],"title":"RawHeroStatsDisplayV2"},"RawHeroStatsUIDisplayV2":{"properties":{"category":{"type":"string","title":"Category"},"stat_type":{"type":"string","title":"Stat Type"}},"type":"object","required":["category","stat_type"],"title":"RawHeroStatsUIDisplayV2"},"RawHeroStatsUIV2":{"properties":{"weapon_stat_display":{"type":"string","title":"Weapon Stat Display"},"display_stats":{"items":{"$ref":"#/components/schemas/RawHeroStatsUIDisplayV2"},"type":"array","title":"Display Stats"}},"type":"object","required":["weapon_stat_display","display_stats"],"title":"RawHeroStatsUIV2"},"RawItemPropertyScaleFunctionSubclassV2":{"properties":{"class_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Class Name"},"subclass_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subclass Name"},"specific_stat_scale_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Specific Stat Scale Type"},"scaling_stats":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Scaling Stats"},"stat_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Stat Scale"}},"type":"object","title":"RawItemPropertyScaleFunctionSubclassV2"},"RawItemWeaponInfoBulletSpeedCurveSplineV2":{"properties":{"slope_incoming":{"type":"number","title":"Slope Incoming"},"slope_outgoing":{"type":"number","title":"Slope Outgoing"},"x":{"type":"number","title":"X"},"y":{"type":"number","title":"Y"}},"type":"object","required":["slope_incoming","slope_outgoing","x","y"],"title":"RawItemWeaponInfoBulletSpeedCurveSplineV2"},"RawItemWeaponInfoBulletSpeedCurveV2":{"properties":{"spline":{"items":{"$ref":"#/components/schemas/RawItemWeaponInfoBulletSpeedCurveSplineV2"},"type":"array","title":"Spline"},"domain_maxs":{"items":{"type":"number"},"type":"array","title":"Domain Maxs"},"domain_mins":{"items":{"type":"number"},"type":"array","title":"Domain Mins"}},"type":"object","required":["domain_maxs","domain_mins"],"title":"RawItemWeaponInfoBulletSpeedCurveV2"},"RawItemWeaponInfoV2":{"properties":{"bullet_speed_curve":{"anyOf":[{"$ref":"#/components/schemas/RawItemWeaponInfoBulletSpeedCurveV2"},{"type":"null"}]}},"type":"object","title":"RawItemWeaponInfoV2"},"RawWeaponInfoHorizontalRecoilV2":{"properties":{"range":{"anyOf":[{"items":{"type":"number"},"type":"array"},{"type":"number"},{"type":"null"}],"title":"Range"},"burst_exponent":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Burst Exponent"}},"type":"object","title":"RawWeaponInfoHorizontalRecoilV2"},"RawWeaponInfoVerticalRecoilV2":{"properties":{"range":{"anyOf":[{"items":{"type":"number"},"type":"array"},{"type":"number"},{"type":"null"}],"title":"Range"},"burst_exponent":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Burst Exponent"},"burst_constant":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Burst Constant"},"burst_slope":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Burst Slope"}},"type":"object","title":"RawWeaponInfoVerticalRecoilV2"},"RejuvParams":{"properties":{"rejuvinator_expiration_warning_timing":{"type":"number","title":"Rejuvinator Expiration Warning Timing"},"rejuvinator_buff_duration":{"type":"number","title":"Rejuvinator Buff Duration"},"rejuvinator_drop_height":{"type":"number","title":"Rejuvinator Drop Height"},"rejuvinator_drop_duration":{"type":"number","title":"Rejuvinator Drop Duration"},"trooper_health_mult":{"items":{"type":"number"},"type":"array","title":"Trooper Health Mult"},"player_respawn_mult":{"items":{"type":"number"},"type":"array","title":"Player Respawn Mult"},"rejuvinator_rebirth_duration":{"items":{"type":"number"},"type":"array","title":"Rejuvinator Rebirth Duration"}},"type":"object","required":["rejuvinator_expiration_warning_timing","rejuvinator_buff_duration","rejuvinator_drop_height","rejuvinator_drop_duration","trooper_health_mult","player_respawn_mult","rejuvinator_rebirth_duration"],"title":"RejuvParams"},"ScriptValues":{"properties":{"modifier_value":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modifier Value"},"value":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Value"}},"type":"object","title":"ScriptValues"},"StatsUsageFlagV2":{"type":"string","enum":["ConditionallyApplied","ConditionallyEnemyApplied","IntrinsicallyProvidedInAbility","IntrinsicallyProvidedInModifier"],"title":"StatsUsageFlagV2"},"SubclassBulletResistModifier":{"properties":{"subclass":{"$ref":"#/components/schemas/BulletResistModifier"}},"type":"object","title":"SubclassBulletResistModifier"},"SubclassEmpoweredModifierLevel":{"properties":{"subclass":{"$ref":"#/components/schemas/EmpoweredModifierLevel"}},"type":"object","title":"SubclassEmpoweredModifierLevel"},"SubclassIntrinsicModifiers":{"properties":{"subclass":{"$ref":"#/components/schemas/IntrinsicModifiers"}},"type":"object","title":"SubclassIntrinsicModifiers"},"SubclassModifierDefinition":{"properties":{"subclass":{"$ref":"#/components/schemas/ModifierDefinition"}},"type":"object","title":"SubclassModifierDefinition"},"SubclassObjectiveHealthGrowthPhase":{"properties":{"subclass":{"$ref":"#/components/schemas/ObjectiveHealthGrowthPhase"}},"type":"object","title":"SubclassObjectiveHealthGrowthPhase"},"SubclassObjectiveRegen":{"properties":{"subclass":{"$ref":"#/components/schemas/ObjectiveRegen"}},"type":"object","title":"SubclassObjectiveRegen"},"SubclassRangedArmorModifier":{"properties":{"subclass":{"$ref":"#/components/schemas/RangedArmorModifier"}},"type":"object","title":"SubclassRangedArmorModifier"},"SubclassTrooperDamageReduction":{"properties":{"subclass":{"$ref":"#/components/schemas/TrooperDamageReduction"}},"type":"object","title":"SubclassTrooperDamageReduction"},"TrooperDamageReduction":{"properties":{"damage_reduction_for_troopers":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Reduction For Troopers"}},"type":"object","title":"TrooperDamageReduction"},"UpgradeDescriptionV2":{"properties":{"desc":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Desc"},"active":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Active"},"passive":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Passive"}},"type":"object","title":"UpgradeDescriptionV2"},"UpgradePropertyV2":{"properties":{"value":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"null"}],"title":"Value"},"can_set_token_override":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Set Token Override"},"provided_property_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Provided Property Type"},"css_class":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Css Class"},"usage_flags":{"anyOf":[{"items":{"$ref":"#/components/schemas/StatsUsageFlagV2"},"type":"array"},{"type":"string"},{"type":"null"}],"title":"Usage Flags"},"negative_attribute":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Negative Attribute"},"disable_value":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Disable Value"},"loc_token_override":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Loc Token Override"},"display_units":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Units"},"icon_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon Path"},"scale_function":{"anyOf":[{"$ref":"#/components/schemas/RawItemPropertyScaleFunctionSubclassV2"},{"type":"null"}]},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prefix"},"label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Label"},"postfix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postfix"},"postvalue_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postvalue Label"},"conditional":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Conditional"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"},"tooltip_section":{"anyOf":[{"$ref":"#/components/schemas/RawAbilitySectionTypeV2"},{"type":"null"}]},"tooltip_is_elevated":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Tooltip Is Elevated"},"tooltip_is_important":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Tooltip Is Important"}},"type":"object","title":"UpgradePropertyV2"},"UpgradeTooltipSectionAttributeV2":{"properties":{"loc_string":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Loc String"},"properties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Properties"},"elevated_properties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Elevated Properties"},"important_properties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Important Properties"},"important_properties_with_icon":{"anyOf":[{"items":{"$ref":"#/components/schemas/UpgradeTooltipSectionAttributeV2ImportantPropertyWithIcon"},"type":"array"},{"type":"null"}],"title":"Important Properties With Icon"}},"type":"object","title":"UpgradeTooltipSectionAttributeV2"},"UpgradeTooltipSectionAttributeV2ImportantPropertyWithIcon":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"},"localized_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Localized Name"}},"type":"object","title":"UpgradeTooltipSectionAttributeV2ImportantPropertyWithIcon"},"UpgradeTooltipSectionV2":{"properties":{"section_type":{"anyOf":[{"$ref":"#/components/schemas/RawAbilitySectionTypeV2"},{"type":"null"}]},"section_attributes":{"anyOf":[{"items":{"$ref":"#/components/schemas/UpgradeTooltipSectionAttributeV2"},"type":"array"},{"type":"null"}],"title":"Section Attributes"}},"type":"object","title":"UpgradeTooltipSectionV2"},"UpgradeV2":{"properties":{"id":{"type":"integer","title":"Id"},"class_name":{"type":"string","title":"Class Name"},"name":{"type":"string","title":"Name"},"start_trained":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Start Trained"},"image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image"},"image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Webp"},"hero":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Hero"},"heroes":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Heroes"},"update_time":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Update Time"},"properties":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/UpgradePropertyV2"},"type":"object"},{"type":"null"}],"title":"Properties"},"weapon_info":{"anyOf":[{"$ref":"#/components/schemas/RawItemWeaponInfoV2"},{"type":"null"}]},"type":{"type":"string","const":"upgrade","title":"Type","default":"upgrade"},"shop_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shop Image"},"shop_image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shop Image Webp"},"shop_image_small":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shop Image Small"},"shop_image_small_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shop Image Small Webp"},"item_slot_type":{"$ref":"#/components/schemas/ItemSlotTypeV2"},"item_tier":{"$ref":"#/components/schemas/ItemTierV2"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Disabled"},"description":{"anyOf":[{"$ref":"#/components/schemas/UpgradeDescriptionV2"},{"type":"null"}]},"activation":{"$ref":"#/components/schemas/RawAbilityActivationV2"},"imbue":{"anyOf":[{"$ref":"#/components/schemas/RawAbilityImbueV2"},{"type":"null"}]},"component_items":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Component Items"},"tooltip_sections":{"anyOf":[{"items":{"$ref":"#/components/schemas/UpgradeTooltipSectionV2"},"type":"array"},{"type":"null"}],"title":"Tooltip Sections"},"is_active_item":{"type":"boolean","title":"Is Active Item","readOnly":true},"shopable":{"type":"boolean","title":"Shopable","readOnly":true},"cost":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cost","readOnly":true}},"type":"object","required":["id","class_name","name","item_slot_type","item_tier","activation","is_active_item","shopable","cost"],"title":"UpgradeV2"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WeaponInfoV2":{"properties":{"can_zoom":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Can Zoom"},"bullet_damage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Damage"},"bullet_gravity_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Gravity Scale"},"bullet_inherit_shooter_velocity_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Inherit Shooter Velocity Scale"},"bullet_lifetime":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Lifetime"},"bullet_radius":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Radius"},"bullet_radius_vs_world":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Radius Vs World"},"bullet_reflect_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Reflect Amount"},"bullet_reflect_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Reflect Scale"},"bullet_whiz_distance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Whiz Distance"},"burst_shot_cooldown":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Burst Shot Cooldown"},"crit_bonus_against_npcs":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Crit Bonus Against Npcs"},"crit_bonus_end":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Crit Bonus End"},"crit_bonus_end_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Crit Bonus End Range"},"crit_bonus_start":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Crit Bonus Start"},"crit_bonus_start_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Crit Bonus Start Range"},"cycle_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cycle Time"},"spins_up":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Spins Up"},"is_semi_auto":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Semi Auto"},"semi_auto_cycle_rate":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Semi Auto Cycle Rate"},"max_spin_cycle_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Spin Cycle Time"},"spin_increase_rate":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Spin Increase Rate"},"spin_decay_rate":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Spin Decay Rate"},"build_up_rate":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Build Up Rate"},"intra_burst_cycle_time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Intra Burst Cycle Time"},"damage_falloff_bias":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Falloff Bias"},"damage_falloff_end_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Falloff End Range"},"damage_falloff_end_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Falloff End Scale"},"damage_falloff_start_range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Falloff Start Range"},"damage_falloff_start_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Falloff Start Scale"},"horizontal_punch":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Horizontal Punch"},"range":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Range"},"recoil_recovery_delay_factor":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Recoil Recovery Delay Factor"},"bullet_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullet Speed"},"recoil_recovery_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Recoil Recovery Speed"},"recoil_shot_index_recovery_time_factor":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Recoil Shot Index Recovery Time Factor"},"recoil_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Recoil Speed"},"reload_move_speed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Reload Move Speed"},"scatter_yaw_scale":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Scatter Yaw Scale"},"aiming_shot_spread_penalty":{"anyOf":[{"items":{"type":"number"},"type":"array"},{"type":"string"},{"type":"null"}],"title":"Aiming Shot Spread Penalty"},"standing_shot_spread_penalty":{"anyOf":[{"items":{"type":"number"},"type":"array"},{"type":"string"},{"type":"null"}],"title":"Standing Shot Spread Penalty"},"shoot_move_speed_percent":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shoot Move Speed Percent"},"shoot_spread_penalty_decay":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shoot Spread Penalty Decay"},"shoot_spread_penalty_decay_delay":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shoot Spread Penalty Decay Delay"},"shoot_spread_penalty_per_shot":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shoot Spread Penalty Per Shot"},"shooting_up_spread_penalty":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shooting Up Spread Penalty"},"vertical_punch":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Vertical Punch"},"zoom_fov":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Zoom Fov"},"zoom_move_speed_percent":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Zoom Move Speed Percent"},"bullets":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Bullets"},"reload_single_bullets_initial_delay":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Reload Single Bullets Initial Delay"},"reload_single_bullets":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reload Single Bullets"},"reload_single_bullets_allow_cancel":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reload Single Bullets Allow Cancel"},"burst_shot_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Burst Shot Count"},"clip_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Clip Size"},"spread":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Spread"},"standing_spread":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Standing Spread"},"low_ammo_indicator_threshold":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Low Ammo Indicator Threshold"},"recoil_seed":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Recoil Seed"},"reload_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Reload Duration"},"bullet_speed_curve":{"anyOf":[{"$ref":"#/components/schemas/RawItemWeaponInfoBulletSpeedCurveV2"},{"type":"null"}]},"horizontal_recoil":{"anyOf":[{"$ref":"#/components/schemas/RawWeaponInfoHorizontalRecoilV2"},{"type":"null"}]},"vertical_recoil":{"anyOf":[{"$ref":"#/components/schemas/RawWeaponInfoVerticalRecoilV2"},{"type":"null"}]},"shots_per_second":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shots Per Second","description":"Calculates the shots per second of the weapon","readOnly":true},"shots_per_second_with_reload":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Shots Per Second With Reload","description":"Calculates the shots per second of the weapon adjusted for reload time","readOnly":true},"bullets_per_second":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullets Per Second","description":"Calculates the bullets per second of the weapon, by multiplying shots per second by bullets per shot.","readOnly":true},"bullets_per_second_with_reload":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Bullets Per Second With Reload","description":"Calculates the bullets per second of the weapon adjusted for reload time.","readOnly":true},"damage_per_second":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Per Second","description":"Calculates the damage per second of the weapon, by multiplying bullets per second by bullet damage.","readOnly":true},"damage_per_second_with_reload":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Per Second With Reload","description":"Calculates the damage per second of the weapon adjusted for reload time.","readOnly":true},"damage_per_shot":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Per Shot","description":"Calculates the damage per shot of the weapon, by multiplying bullets per shot by bullet damage.","readOnly":true},"damage_per_magazine":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Damage Per Magazine","description":"Calculates the damage per magazine of the weapon, by multiplying clip size by damage per shot.","readOnly":true}},"type":"object","required":["shots_per_second","shots_per_second_with_reload","bullets_per_second","bullets_per_second_with_reload","damage_per_second","damage_per_second_with_reload","damage_per_shot","damage_per_magazine"],"title":"WeaponInfoV2"},"WeaponV2":{"properties":{"id":{"type":"integer","title":"Id"},"class_name":{"type":"string","title":"Class Name"},"name":{"type":"string","title":"Name"},"start_trained":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Start Trained"},"image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image"},"image_webp":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Webp"},"hero":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Hero"},"heroes":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Heroes"},"update_time":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Update Time"},"properties":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/ItemPropertyV2"},"type":"object"},{"type":"null"}],"title":"Properties"},"weapon_info":{"anyOf":[{"$ref":"#/components/schemas/WeaponInfoV2"},{"type":"null"}]},"type":{"type":"string","const":"weapon","title":"Type","default":"weapon"}},"type":"object","required":["id","class_name","name"],"title":"WeaponV2"},"ZiplanePathV1":{"properties":{"origin":{"prefixItems":[{"type":"number"},{"type":"number"},{"type":"number"}],"type":"array","maxItems":3,"minItems":3,"title":"Origin","description":"The origin of the path."},"color":{"type":"string","title":"Color","description":"The color of the path."},"P0_points":{"items":{"prefixItems":[{"type":"number"},{"type":"number"},{"type":"number"}],"type":"array","maxItems":3,"minItems":3},"type":"array","title":"P0 Points","description":"The P0 points of the path."},"P1_points":{"items":{"prefixItems":[{"type":"number"},{"type":"number"},{"type":"number"}],"type":"array","maxItems":3,"minItems":3},"type":"array","title":"P1 Points","description":"The P1 points of the path."},"P2_points":{"items":{"prefixItems":[{"type":"number"},{"type":"number"},{"type":"number"}],"type":"array","maxItems":3,"minItems":3},"type":"array","title":"P2 Points","description":"The P2 points of the path."},"color_parsed":{"$ref":"#/components/schemas/ColorV1","readOnly":true}},"type":"object","required":["origin","color","P0_points","P1_points","P2_points","color_parsed"],"title":"ZiplanePathV1"}}},"tags":[{"name":"Items","description":"\nItems are purchasable objects in the game.\n\nThere are 3 main types of items:\n- Upgrade Items\n- Ability Items\n- Weapon Items\n        "}]}